.SessionManagerScreen {
  .SessionManagerContainer {
    .SessionManagerView {
      .SessionManagerFields {
        margin-top: 3em;
        margin-bottom: 2em;

        .UserPasswordEntry {
          font-family: var(--monospace-font-family);
        }
      }
    }
  }
}
